@charset "UTF-8";

body{
    background-color:rgba(98, 243, 105, 0.562);
}
header{
    background-image: linear-gradient(To top, rgba(100, 179, 105, 0.637), rgba(0, 158, 11, 0.781));
    height: 178px;
    padding: 12px;
    margin: -21px -8px 2px -8px;
    color: white;
}
header > h1{
    text-align: center;
}
header > p{
    text-align: center;
}
nav{
    background-color:rgba(35, 151, 43, 0.534);
    padding: 3px;
    margin: -2px -9px 2px -9px;
}
nav > a {
    margin-right: 30px;
    color: white;
    font-weight: bolder;
    text-decoration: none;
}
nav > a:hover{
    text-decoration: underline;
    background-color: rgba(106, 253, 113, 0.562)

}
main{
    background-color: white;
    width: 900px;
    margin: auto;
    padding: 12px;
    text-align: justify;
}
p{
    text-indent: 20px;
}
.lista{
    background-color: white;
    width: 900px;
    margin: auto;
    padding: 12px;
    text-align: justify;
}
article{
    background-color:rgba(79, 252, 88, 0.363);
    padding: 12px;
    border-radius: 12px;
    margin: -27px 6px -1px 6px;

}
footer{
    background-color: rgba(3, 39, 3, 0.637);
    text-align: center;
    margin: auto;
    color: white;
}
.personalizado{
    color: rgba(2, 77, 2, 0.959);
    font-weight: bolder;
}
h1{
    color: green;
}
h2{
    color: green;
    background-image: linear-gradient(to right, rgba(107, 248, 107, 0.842), rgba(149, 196, 149, 0.548));
}