@charset "UTF-8";

body{
    margin-top: 60px;
}

main#container{
    margin: auto;
    background-color: forestgreen;
    padding: 30px;
    border-radius: 6px;
    max-width: 570px;

    height: 56vh;

    position: relative;
}


table#conteudo{
    border-collapse: collapse;
    background-color: white;

    position: absolute;
    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);

}

col.area{
    background-color: rgb(180, 247, 114);
}
col.nota{
    background-color: rgb(178, 250, 178);
}
th{
    border: solid black 1.8px;
    padding: 6px;
}
td{
    border: solid black 1.8px;
    padding: 12px;
}