@charset "UTF-8";

body{
    background-image: linear-gradient(to top, gray, rgb(58, 58, 58));
    background-image: url(../img_fundo.jpg);
    margin: 0px 30px 0px 30px;
}

main{
    max-width: 630px;
    min-width: 315px;
    background-color: rgba(255, 255, 255, 0.815);
    margin: auto;
    padding: 36px;
}

table{ 
    border-collapse: collapse;
    margin: auto;
    width: 60%;
}

td, th{
    border: solid black 1px;
    padding: 12px;
}

td.numero{
    text-align: right;
}

thead, tfoot{
    background-color: gray;
    color: white;
}