@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
}

body{
    background-image: url(../imagens_hawaii/hawaii_five_0_fundo.jpg);
    
}

header{
    background-image: linear-gradient(to top, transparent, rgb(255, 255, 255), rgb(15, 110, 218) );
    
}

header > div{
    max-width: 803px;
    min-height: 312px;
    margin: auto;
    background-image: url(../imagens_hawaii/hawaii_five.0_header.jpg);
    background-size: cover;
    background-position: left center;

}

main{
    max-width: 780px;
    min-width: 320px;
    margin: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.1em;
    background-color: rgba(255, 255, 255, 0.753);
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.575);
    text-align: justify;
    line-height: 3em;
    padding: 12px;
    
}

main > h1{
    text-align: center;
    color: rgb(15, 110, 218);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2.4em;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.418);
}

main > article > h2{
    background-image: linear-gradient(to right, rgb(15, 110, 218), transparent);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left: -12px;
    margin-right: -12px;
    padding-left: 15px;
    color: white;
    text-shadow: 0px 0px 2.1px rgba(0, 0, 0, 0.24);
    box-shadow: inset 0px 0px 6px rgba(0, 0, 0, 0.301);

}

p{
    text-indent: 30px;
}

li{
    list-style: circle;
    list-style-position: inside;
    margin-bottom: 9px;
}

div > p{
    display: none;
}

div:hover > p{
    display: block;
    text-align: center;
}