@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
}
header{
    background-image: linear-gradient(to top,  rgb(0, 0, 0), gray);
}
header div{
    background-color: rgb(48, 123, 235);
    background-image: url(../imagens/omentalista-header.jpg);
    background-repeat: no-repeat;
    background-position: top left;
    background-size: cover;
    max-width: 790px;
    min-width: 320px;
    padding: 30px;
    min-height: 180px;
    margin: auto;
}
body{
    height: 100vh;
    background-image: url('../imagens/o_mentalista_fundo01.jpg');
    background-repeat: repeat;
}
main{
    background-color: rgba(255, 255, 255, 0.651);
    max-width: 831px;
    min-width: 320px;
    margin: auto;
    padding: 9px;
    box-shadow: 1px -2px 4px 5px rgba(0, 0, 0, 0.527);

    line-height: 3em;
}
h2{
    background-color: rgba(65, 105, 225, 0.815);
    padding: 3px;
    border-radius: 0px 6px 0px 6px;
    box-shadow: inset 1px 1px 4px 0px rgba(0, 0, 0, 0.425);
    color: azure;
}
li{
    list-style-position: inside;
}
div > p{
    display: none;
}
div:hover > p {
    display: block;
    text-align: center;
}
div.video{
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.753), rgba(128, 128, 128, 0.87));
    box-shadow: inset 2px 1px 4px 2px rgba(0, 0, 0, 0.589);

    position: relative;
    padding-bottom: 56.5%;

}
div.video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;

}

