@charset "UTF-8";


header > div{
    max-width: 796px;
    min-height: 250px;
    background-color: blue;
    background-image: url(../imagens_ncis/ncis_header.jpg);
    background-size: cover;
    background-position: center center;
    margin: auto;
    
}

main{
    max-width: 780px;
    min-width: 320px;
    margin: auto;
    text-align: justify;
}