@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}
body{
    height: 100vh;
    margin-left: 9px;
    margin-right: 15px;
    background-color: rgba(0, 153, 255, 0.63) ;
    background-image:url(../imagens/fundo900.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
main > header{
    background-image: linear-gradient(to top,  rgba(0, 0, 0, 0.849), rgba(128, 128, 128, 0.658) );
    color: white;
    text-align: center;
    border-radius: 0px 6px 0px 6px;
    box-shadow: inset 0px 1px 5px 6px #00000054;
    padding-top: 6vh;
    padding-bottom: 6vh;
    
}
main{
    max-width: 790px;
    min-width: 420px;
    margin: auto;
    padding: 12px;
    border-radius: 6px;
    text-align: justify;
    background-color: rgba(255, 255, 255, 0.76);
    box-shadow: 0px 0px 4.3px 2px rgba(0, 0, 0, 0.452);
    line-height: 2em;
    font-size: 1.5em;
}
main > article > p{
    text-indent: 30px;
    
}
dl{
    padding: 3vh 6vh;
    border-radius: 12px;
    font-size: 0.9em;
    font-style: italic;
    background-color: rgba(255, 255, 255, 0.637);
    
}
div:hover{
    background-color: rgba(160, 81, 45, 0.192);
    border-radius: 3.4px;

    
}
div{
    background-color: rgba(128, 128, 128, 0.63);
    border-radius: 12px;
    box-shadow: inset 0px 0.2px 0.2px 0.2px #00000054;
    padding-left: 6px;
    font-weight: bolder;
}
div > p.escondido{
    display: none;
}
div:hover > p.escondido{
    display: block;
    text-align: center;
    
}
nav{
    max-width: 758px;
    min-width: 382px;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.568);
    border-radius: 6px;
    padding: 30px;
    
}
nav > p{
    color: white;
    font-size: 1.8em;
    font-weight: bolder;
    text-align: center;
    margin-top: -27px;
    margin-bottom: 15px;
    
   

}
nav > a{
    color: white;
    background-color: rgba(0, 0, 0, 0.582);
    padding: 6px;
    line-height: 2em;
    border-radius: 12px;
    font-size: 1.6em;
    margin-right: 15px;
    text-decoration: none;

}
nav > a:hover{
    background-color: rgba(255, 255, 255, 0.514);
    color: rgba(0, 0, 0, 0.904);
}
footer{
    background-color: rgb(26, 26, 206);
}
