@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
}

body{
    background-image: url(../imagens_hawaii/hawaii_five_0_fundo.jpg);
    
}

header{
    background-image: linear-gradient(to top, transparent, rgb(255, 255, 255), rgb(15, 110, 218) );
    
}

header > div{
    max-width: 803px;
    min-height: 312px;
    margin: auto;
    background-image: url(../imagens_hawaii/hawaii_five.0_header.jpg);
    background-size: cover;
    background-position: left center;

}

main{
    max-width: 780px;
    min-width: 320px;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    background-color: rgba(255, 255, 255, 0.753);
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.575);
    text-align: justify;
    line-height: 3em;
    padding: 12px;
    
}

main > article > p{
    margin-left: 30px;
    margin-right: 30px;
    background-color: rgba(255, 255, 255, 0.815);
    padding: 6px;

}

main > h1{
    text-align: center;
    color: rgb(15, 110, 218);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2.4em;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.418);
}

main > article > h2{
    background-image: linear-gradient(to right, rgb(15, 110, 218), transparent);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left: -12px;
    margin-right: -12px;
    padding-left: 15px;
    color: white;
    text-shadow: 0px 0px 2.1px rgba(0, 0, 0, 0.24);
    box-shadow: inset 0px 0px 6px rgba(0, 0, 0, 0.301);

}

p{
    text-indent: 30px;
}

li{
    list-style: circle;
    list-style-position: inside;
    margin-bottom: 9px;
    margin-left: 36px;
    margin-right: 36px;
}
li.personalizada_azul{
    background-color: rgba(75, 119, 250, 0.664);
    box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.116);
    margin-top: 15px;
    padding: 0px 12px;
    border-radius: 12px;

}
li.personalizada_branco_danny{
    background-color: white;
    box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.116);
    padding: 0px 12px;
    margin-bottom: 0.3px;
    border-radius: 12px 12px 0px 0px;
}
li.personalizada_branco_kono{
    background-color: white;
    box-shadow: inset 1px 0px 1px rgba(0, 0, 0, 0.116);
    padding: 0px 12px;
    border-radius: 0px 0px 12px 12px;

}
li.personalizada_branco{
    background-color: white;
    box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.116);
    padding: 0px 12px;
    border-radius: 12px;
}

div > span.branco:hover{
    background-color: blue;
    color: white;
}

span.branco{
    background-color: rgb(15, 110, 218);
    padding: 3px;
    border-radius: 6px;
    box-shadow: 2px 1px 2px 1px rgba(0, 0, 0, 0.445);
    border-style: solid;
    border-color: black;
    color: white;
    font-weight: bolder;
}
span.destaque{
    background-color: rgba(53, 147, 255, 0.26);
    color: blue;
    font-weight: bolder;
    padding: 3px;
    border-radius: 0px 3px;

}

div > p{
    display: none;
}

div:hover > p{
    display: block;
    text-align: center; 
    background-image: linear-gradient(to top, transparent, rgb(255, 255, 255), rgba(172, 172, 172, 0.836) );
    margin-left: -12px;
    margin-right: -12px;
    padding-top: 28.16px;
}

nav{
    max-width: 778px;
    min-width: 320px;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.568);
    border-radius: 6px;
    padding: 15px;
}

nav > a{
    color: white;
    background-color: rgba(0, 0, 0, 0.582);
    padding: 6px;
    line-height: 2em;
    border-radius: 12px;
    font-size: 1.6em;
    margin-right: 15px;
    text-decoration: none;
}

nav > a:hover{
    background-color: rgb(15, 110, 218);
    color: white;
}
.menu{
    color: white;
    text-align: center;
    font-size: 1.6em;
}