@charset "UTF-8";

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightgrey;
    margin: 0px;
}
header{
    background-color: white;
    padding: 10px;
    text-align: center;
    margin: 10px;
}
nav{
    background-color: rgba(0, 0, 255, 0.404);
    padding: 3px;
    box-shadow: 8px 7px 11px black;
}
nav > a {
    text-decoration: none;
    color: white;
    margin-right: 30px;
    font-weight: bolder;
    

}
nav > a:hover {
    text-decoration: underline;
}
main{
    background-color: white;
    padding: 10px;
    margin: 16px;
}
article{
    background-color: lightslategray;
    padding: 5px;
}
article > aside {
    background-color: rgba(35, 40, 44, 0.89);

}
footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 4px;
    margin: 0px;
}
footer > p{
    margin: 0;
}