@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
} 

:root{
    --cor-nivelA: #80065F;
    --cor-nivelB: #802D69;
    --cor-nivelC: #CC0A98;
    --cor-nivelD: #FF0DBD;
    --cor-nivelE: #FF59D3;
}

header{
    background-color: var(--cor-nivelB);
    background-image: url(../imagens/images.jpg);
    background-repeat: repeat;
    background-size: contain;
    height: 169px;
    color: white;
    text-align: center;
    
}

header > h1{
    font-family: 'Times New Roman', Times, serif;
}

body{
    background-color: var(--cor-nivelD);
}

main{
    background-color: white;
    max-width: 50%;
    margin: auto;
    padding: 9px;
    border-radius: 6px;

}

main p{
    text-indent: 30px;
    text-align: justify;
    line-height: 1.5em;
    margin: 12px;
}

section > div{
    background-color: var(--cor-nivelE);
    background-size: contain;
    background-repeat: no-repeat;
    ma
    height: 250px;
}

div#paragraf-1{
    background-image: url(../imagens/cheg_cand.jpg);
}
div#paragraf-2{
    background-image: url(../imagens/cand-2.jpg);
}
div#paragraf-3{
    background-image: url(../imagens/cand-3.jpg);
}
div#paragraf-4{
    background-image: url(../imagens/dumar-4.jpg);
}
div#paragraf-5{
    background-image: url(../imagens/cand-5.jpg);
}