@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    font-family: 'Times New Roman', Times, serif;
}

body{
    background-color: #FF0DBD;
}

main{
    background-color: white;
    max-width: 50%;
    margin: auto;
    padding: 9px;
    border-radius: 6px;

}

main p{
    text-indent: 30px;
    text-align: justify;
    line-height: 1.5em;
    margin: 12px;
}