@charset "UTF-8";

:root{
    --cor01:#faf62a;
    --cor02:#ff760e;
    --cor03:#df40e7;
    --cor04:#63A3FF;
    --cor05:#2FF555;

    --font-padrao: Arial, verdana, helvetica, sans-serif;
    --font-destaque: cursive;
}
*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: var(--cor04);
}
header{
    background-color: var(--cor01);
    text-align: center;

}
header h1{
    font-family: var(--font-destaque);
    color: var(--cor03);
    font-weight: bolder;
    font-size: 3em;
    padding-top: 16px;
    padding-bottom: 15px;
}
header p{
    font-family: var(--font-padrao);
    color: var(--cor04);
    font-weight: bolder;
    font-style: italic;
    font-size: 1.5em;
}
nav{
    background-color:var(--cor01);
    padding: 15px 30px;
}
nav a{
    color: var(--cor03);
    text-decoration: none;
    font-weight: bolder;
    font-size: 1.3em ;
    padding-right: 12px;
}
nav a:hover{
    color: white;
    background-color: var(--cor03);
    border-radius: 6px;
    padding: 6px;
}
main{
    background-color: white;
    min-width: 420px;
    max-width: 800px;
    margin: auto;
    padding: 12px;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
}
main h2{
    color: white;
    background-image: linear-gradient(to right, var(--cor03), transparent);
    padding-left: 21px;
    margin-left: -12.3px;
    margin-top: -12px;
    font-family: var(--font-destaque);
    font-size: 1.8em;
}
.h2personalizado{
    margin-top: -18px;
}
main p{
    text-align: justify;
    margin: 15px 0px;
    text-indent: 30px;
    line-height: 2.2em;
    font-family: var(--font-padrao);
}
main ul{
    columns: 2;
    list-style-position: inside;
    line-height: 1.5em;
    list-style-type: circle; 
}
main > aside{
    background-color: var(--cor05);
    margin: 0px 15px -12px 15px;
    padding: 12px;
    border-radius: 12px 12px 0px 0px;  
}
footer{
    background-color: rgba(0, 0, 0, 0.712);
    color: white;
    text-align: center;
}
