@charset "UTF-8";

body{
    background-image: linear-gradient(to right, rgb(0, 174, 255), rgba(247, 0, 255, 0.541));
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: justify;
    
}
main{
    background-color: aliceblue;
    border-radius: 12px;
    width: 900px;
    padding: 15px;
    margin: auto;
    box-shadow: 12px 12px 12px rgba(0, 174, 255, 0.342);
}
h1{
    color: rgba(0, 0, 255, 0.712);
    
}

h1#principal{
    font-style: italic; color: rgb(0, 119, 255);
    text-align: center;
    font-size: 3em;
}

h2{
    color: rgba(17, 183, 238, 0.925);
}

.personalizado{
    background-color: aqua;
}