@charset "UTF-8";

body{
    background-image: linear-gradient(to right, #B6D6F2, #0782D9);   
}
main{
    background-color: rgba(255, 255, 255, 0.897);
    width: 720px;
    padding: 7px;
    border-radius: 6px;
    margin: auto;
    box-shadow: 5px 6px 12px #7186978a
}
h1{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
    font-size: 5em;
    font-weight: lighter;
    font-style: italic;

}
p{
    text-align: justify;
    font-size: 2em;
    font-weight: 600;
    font-style: italic;
}