@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}
body{
    height: 100vh;
    margin: 15px;
    background-color: rgba(0, 153, 255, 0.63) ;
    background-image: url(imagens/fundo900.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
main > header{
    background-image: linear-gradient(to top,  rgba(0, 0, 0, 0.849), rgba(128, 128, 128, 0.658) );
    color: white;
    text-align: center;
    border-radius: 0px 6px 0px 6px;
    box-shadow: inset 0px 1px 5px 6px #00000054;
    padding-top: 6vh;
    padding-bottom: 6vh;
    
}
main{
    max-width: 790px;
    min-width: 420px;
    margin: auto;
    padding: 12px;
    border-radius: 6px;
    text-align: justify;
    background-color: rgba(255, 255, 255, 0.76);
    line-height: 2em;
    font-size: 1.5em;
}
main > article > p{
    text-indent: 30px;
    
}
dl{
    padding: 3vh 6vh;
    border-radius: 12px;
    font-size: 0.9em;
    font-style: italic;
    background-color: rgba(255, 255, 255, 0.637);
    
}
div:hover{
    background-color: rgba(160, 81, 45, 0.192);
}
div > p.escondido{
    display: none;
}
div:hover > p.escondido{
    display: block;
}
