@charset "UTF-8";

body{
    background-image: url(../imagens/img_fundo.jpg);
    margin-top: 150px;
}

main#container{
    background-image: linear-gradient(to top, rgba(223, 98, 53, 0.952), rgba(135, 207, 235, 0.877) );
    margin: auto;
    max-width: 750px;
    min-height: 450px;
    box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.5);
    border-radius: 6px 0px;

    position: relative;
}


table#conteudo{
    border-collapse: collapse;
    width: 76%;
    height: 69%;
    text-align: center;
    background-color: white;
    box-shadow: 6px 6px 9px rgba(0, 0, 0, 0.829);

    position: absolute;
    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);
    

}
td{
    border: solid black 1.8px;
    padding: 6px;
}

td:hover{
    background-color: rgba(135, 207, 235, 0.973);
    color: black;
    font-weight: bolder;
}

thead > tr > th{
    border: solid black 1.8px;
    padding: 6px; 
    font-family: monospace, sans-serif;
    font-size: 1.2em;
    background-color: rgba(135, 207, 235, 0.877);
    color: rgba(31, 14, 8, 0.952);
}