@charset "UTF-8";

body{
    background-color: rgb(214, 208, 208);
}
table{
    background-color: white;
    border-collapse: collapse;
    margin: auto;
    
}
td, th{
    border: solid black 1.8px;
    padding: 6px;

}
div#container{
    overflow-x: auto;
}