@charset "UTF-8";

body{
    background-color: rgba(255, 163, 127, 0.692);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2em;
    text-align: center;
}
main{
    background-color: aliceblue;
    border-radius: 24px;
    box-shadow: 12px 12px 9px rgba(100, 64, 50, 0.514);
    margin: auto;
    width: 900px;
    padding: 12px;
}
h1{
    color: rgba(34, 22, 17, 0.541);
    text-shadow: 2px 7px 9px rgba(197, 128, 100, 0.692);
    font-weight: bolde;
    font-style: italic;
    text-decoration: underline;
}